.top-background {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-around;
}

.right-links {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;   
}

.left-links {
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

.main-picture {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.hero-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 17px;
    justify-content: center;
    padding-bottom: 50px;
    margin: 30px;
    gap: 50px;
}

.body {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.pictures {
    background-color: #f9faf8;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-style: italic;
}

.picture-container {    
    display: flex;
    flex-direction: row;
}

.awesome {
    display:flex;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding-left: 500px;
    padding-right: 500px;
    align-items:flex-end
}

.action {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-action {
    color:#e5e7eb;
}

.headline {
    font-size: 25px;
    font-weight: bold;
}

.buttons {
    border-radius: 8px;
}

img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 8px;
}

ul li {
    list-style: none;
}