.top-background {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-around;
}

.right-links {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
}

.left-links {
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

ul li {
    list-style: none;
}